h1{
    color: blue;
}
body{
<<<<<<< HEAD
    background-color: #cd1717;
    font-family: poppins, calibri, sans-serif;
=======
    background-color: #b44848;
    font-family: 'Times New Roman', Times, serif, sans-serif;
>>>>>>> fitur-register
}
